* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('https://assets.nflxext.com/ffe/siteui/vlv3/f841d4c7-10e1-40af-bca1-07b3f8dc14b8/f6368644-abef-417d-93f4-d6ed0065e101/US-en-20220502-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 100vh;
}

.login-header {
    height: 90px;
    padding: 25px 50px;
}

.login-logo {
    width: 167px;
}

.login-body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}

.login-form-container {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 60px 68px 40px;
    width: 450px;
    min-height: 550px;
    border-radius: 4px;
}

.login-form-container h1 {
    font-size: 32px;
    margin-bottom: 28px;
    font-weight: 700;
}

.login-form-container input {
    width: 100%;
    height: 50px;
    background: #333;
    border: none;
    border-radius: 4px;
    padding: 0 20px;
    color: white;
    margin-bottom: 16px;
    font-size: 16px;
}

.login-form-container button {
    width: 100%;
    height: 50px;
    background: #e50914;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 24px;
    cursor: pointer;
}

.login-form-container button:hover {
    background: #fb1927;
}

.login-form-help {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 13px;
    color: #b3b3b3;
}

.login-form-help a {
    text-decoration: none;
    color: #b3b3b3;
}

.login-form-help a:hover {
    text-decoration: underline;
}

.login-form-help div {
    display: flex;
    align-items: center;
}

.login-form-help input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-bottom: 0;
}

.login-signup-now {
    margin-top: 40px;
    color: #737373;
    font-size: 16px;
}

.login-signup-now a {
    color: white;
    text-decoration: none;
}

.login-signup-now a:hover {
    text-decoration: underline;
}

.login-captcha {
    margin-top: 15px;
    font-size: 13px;
    color: #8c8c8c;
    line-height: normal;
}

.login-captcha a {
    text-decoration: none;
    color: #0071eb;
}

.login-captcha a:hover {
    text-decoration: underline;
}

@media (max-width: 500px) {
    .login-header {
        padding: 10px 20px;
    }

    .login-logo {
        width: 120px;
    }

    .login-form-container {
        width: 100%;
        min-height: 100vh;
        padding: 40px 20px;
        background-color: black;
    }
}