* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #111;
    color: white;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 70px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.5s ease-in;
}

.nav__logo {
    width: 100px;
    object-fit: contain;
}

.nav__avatar {
    width: 30px;
}

.nav__avatar img {
    width: 100%;
    border-radius: 4px;
}

.nav--black {
    background-color: #111;
}

.banner {
    color: white;
    object-fit: contain;
    height: 448px;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.banner__contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner__description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
}

.banner__button {
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
    transition: all 0.2s;
}

.banner__button:hover {
    color: #000;
    background-color: #e6e6e6;
}

.banner--fadeBottom {
    height: 7.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37, 37, 37, 0.61),
        #111
    );
    position: absolute;
    bottom: 0;
    width: 100%;
}

.row {
    margin-left: 20px;
    color: white;
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__poster {
    object-fit: contain;
    width: 100%;
    max-height: 250px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row__poster:hover {
    transform: scale(1.08);
    opacity: 1;
}

.row__posterLarge {
    max-height: 350px;
}

.row__posterLarge:hover {
    transform: scale(1.09);
    opacity: 1;
}

.row__title {
    font-size: 1.5rem;
    font-weight: 700;
}
